html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

/*Botones de las redes Sociales footer*/
 .btn.btn-social-icon {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    padding: 5px;
}

 .btn-facebook {
     background: #3b579d;
     color: #ffffff
 }

 .btn-youtube {
     background: #e52d27;
     color: #ffffff
 }

 .btn-instagram {
     color: #ffffff;
     background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
 }

 .btn-facebook:hover,
 .btn-facebook:focus {
     background: #2d4278;
     color: #ffffff
 }

 .btn-youtube:hover,
 .btn-youtube:focus {
     background: #c21d17;
     color: #ffffff
 }


 .btn-instagram:hover,
 .btn-instagram:focus {
     background: #bf3322;
     color: #ffffff
 }

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {
    color: red;
    text-decoration: underline;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*Header principal Cover*/
.masthead {
  height: 65vh;
  min-height: 600px;
  background-image: url('../img/sections/fondodyd.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*Header Style */
.header-1 {
  font-family: arial;
  font-size: 50px;
  padding: 0px;
}

/*Botones del Header*/
.btn {
  border-radius: 0px !important;
}
/* Fondo opciones del Header*/
.bg-opacity {
  background-color: rgba(255, 255, 255, 0.7);
}

/*Borde Redondeado del Nav Header*/
.nav-radius .nav-link {
      border-radius: 50px 50px 50px 50px;
}

.btn-radius {
      border-radius: 50px 50px 50px 50px;
}

/*Modificacion del arrow select   NO FUNCIONAAAAA*/

.custom-select, .arrow select {
 border: 1px solid #ccc;
 background: url(../img/arrow.png) no-repeat 298px 3px #fff !important;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 }

/*Seccion divisiones*/
.div-1 {
  height: 20vh;
  min-height: 100px;
  background-image: linear-gradient(to right bottom, #ff0000, #e20001, #c60002, #ab0002, #900000);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Cards con imagen*/

/*Estilo para los iconos de las cards*/
  .text-muted i {
    margin: 0 10px;
  }

/*Arriendos*/
.arriendo-card{
    margin-top:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);

}
.arriendo-card .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.arriendo-card .card-img-block {
    width: 100%;
    margin: 0 auto;
    position: relative;
    
}
.arriendo-card .card-img-block img{
    border-radius:5px;
}

.arriendo-card p{
    font-size:14px;
    font-weight:300;
}

/*Proyectos*/
.proyecto-card{
    margin-top:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);

}
.proyecto-card .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.proyecto-card .card-img-block {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.proyecto-card .card-img-block img{
    border-radius:5px;
}

.proyecto-card p{
    font-size:14px;
    font-weight:300;
}

/*Ventas*/
.venta-card-img{
  height:200px;
  width:100%;
}

.venta-card{
  transition:0.5s;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
  margin-top:20px;
  cursor:pointer;
  border-radius: 5px;
}

.venta-card:hover{
  transform: scale(1.05);
  box-shadow:0 0 10px rgba(0,0,0,0.6);
}

/*Blog*/
.blog-card{
    margin-top:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);

}
.blog-card .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.blog-card .card-img-block {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.blog-card .card-img-block img{
    border-radius:5px;
}

.blog-card p{
    font-size:14px;
    font-weight:300;
}

/*Carousel del inicio*/

.pt-100{
    padding-top:100px;
}
.pb-100{
    padding-bottom:100px;
}
.section-title {
  margin-bottom: 60px;
}
.section-title p {
  color: #777;
  font-size: 16px;
}
.section-title h4 {
  text-transform: capitalize;
  font-size: 40px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
.section-title h4:before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #ff3636;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
}
.section-title h4:after {
  position: absolute;
  background-color: #ff3636;
  content: "";
  width: 10px;
  height: 10px;
  bottom: -4px;
  left: 50%;
  margin-left: -5px;
  border-radius: 50%;
}

.single-arriendo img {
  width: 100%;
}
.single-arriendo {
  position: relative;
}

.single-arriendo {
  overflow: hidden;
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item, {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item, {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item, {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

.card-img-overlay {
background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(112,111,111,1) 0%, rgba(110,107,110,1) 0%, rgba(51,49,51,1) 0%, rgba(0,0,0,0.16) 52%, rgba(255,255,255,0.13) 54%, rgba(255,255,255,0) 62%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(112,111,111,1)), color-stop(0%, rgba(110,107,110,1)), color-stop(0%, rgba(51,49,51,1)), color-stop(52%, rgba(0,0,0,0.16)), color-stop(54%, rgba(255,255,255,0.13)), color-stop(62%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(112,111,111,1) 0%, rgba(110,107,110,1) 0%, rgba(51,49,51,1) 0%, rgba(0,0,0,0.16) 52%, rgba(255,255,255,0.13) 54%, rgba(255,255,255,0) 62%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(112,111,111,1) 0%, rgba(110,107,110,1) 0%, rgba(51,49,51,1) 0%, rgba(0,0,0,0.16) 52%, rgba(255,255,255,0.13) 54%, rgba(255,255,255,0) 62%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(112,111,111,1) 0%, rgba(110,107,110,1) 0%, rgba(51,49,51,1) 0%, rgba(0,0,0,0.16) 52%, rgba(255,255,255,0.13) 54%, rgba(255,255,255,0) 62%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(112,111,111,1) 0%, rgba(110,107,110,1) 0%, rgba(51,49,51,1) 0%, rgba(0,0,0,0.16) 52%, rgba(255,255,255,0.13) 54%, rgba(255,255,255,0) 62%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
}

/*Blog post home*/

.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}

.blog-card-5{
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}

.blog-card-5 .card-img-block {
    width: 70%;
    margin: 0 auto;
    position: relative;
    
}
.blog-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

/* Background nav ventas*/
.nav-ventas {
  background-image: linear-gradient(to right bottom, #ff0000, #e20001, #c60002, #ab0002, #900000);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}